@model DailyAttendanceViewModel;

<h1>Daily Attendance Entry Form</h1>
<form action="/DailyAttendance/entry" method="post">
	<div class="mb-3">
		<label for="AttendanceDate" class="form-label">Attendance Date</label>
		<input type="date" class="form-control" name="AttendanceDate" placeholder="Enter Attendance" required>
	</div>
	<div class="mb-3">
		<label for="InTime" class="form-label">In Time </label>
		<input type="time" class="form-control" name="InTime" placeholder="Enter InTime" required>
	</div>
	<div class="mb-3">
		<label for="OutTime" class="form-label">Out Time</label>
		<input type="time" class="form-control" name="OutTime" placeholder="Enter Attendance" required>
	</div>

	<div class="mb-3">
		<label for="Employee">Employee</label>
		<select class="form-select" name="EmployeeId" id="Employee">
			<option value="">[Select Employee]</option>
			@foreach (var employee in Model.EmployeeViewModels)
			{
				<option value="@employee.Id">@employee.No</option>
			}
		</select>
	</div>
	
	<div class="mb-3">
		<label for="Department">Department</label>
		<select class="form-select" name="DepartmentId" id="Department">
			<option value="">[Select Department]</option>
			@foreach(var department in Model.DepartmentViewModels)
			{
				<option value="@department.Id">@department.Code</option>
			}
		</select>
	</div>
	<button class="btn btn-primary" type="submit">Save</button>
	<a href="/DailyAttendance/List" class="btn btn-warning">Cancel</a>
</form>
