@model DailyAttendanceViewModel
<table class="table-hover">
	<thead class="table table-dark">
		<tr>
			<th scope="col">No</th>
			<th scope="col">Daily Attendance</th>
			<th scope="col">Out Time</th>
			<th scope="col">In Time</th>
			<th scope="col">Employee</th>
			<th scope="col">Department</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		var i = 1;
		@foreach(var dailyAttendance in Model)
		{
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
				</td>
			</tr>
			i++;
		}
		
	</tbody>
</table>