@model ShiftAssignViewModel

<h3>ShiftAssign Entry Form</h3>

<form action="/shiftAssign/Entry" method="post">
    <div class="mb-3">
        <label for="FromDate" class="form-label">From Date</label>
        <input type="datetime" id="FromDate" class="form-control" name="FromDate" placeholder="Enter From Date"/>
    </div>
    <div class="mb-3">
        <label for="ToDate" class="form-label">To Date</label>
        <input type="datetime" id="ToDate" class="form-control" name="ToDate" placeholder="Enter To Date" />
    </div>
    <div class="mb-3">
        <label for="EmployeeId" class="form-label">Employee</label>
        <select class="form-select" id="shiftId" name="EmployeeId">
            <option value="">[Select Employee]</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="ShiftId" class="form-label">Shift</label>
        <select class="form-select" id="ShiftId" name="ShiftId">
            <option value="">[Select Employee]</option>
        </select>
    </div>
</form>
